// Wide screens
@include mediaXl {
    .projects {
        grid-template-columns: repeat(4, 1fr);
    }
}

// Desktops & Laptops
@include mediaLg {
    .projects {
        grid-template-columns: repeat(3, 1fr);
    }
}

// Tablets
@include mediaMd {
    main {
        align-items: center;
        text-align: center;

        .lg-heading {
            line-height: 1;
            margin-bottom: 1rem;
        }
    }

    .menu-branding {
        .portrait {
            background: url('../image/profile_md.jpg');
            width: 170px;
            height: 170px;
        }
    }

    .about-info {
        grid-template-areas: 
        'bioimage'
        'bio'
        'job1'
        'job2'
        'job3';
        grid-template-columns: 1fr;
        .bio-image {
            width: 170px;
            height: 170px;
        }
    }

    .projects {
        grid-template-columns: repeat(2, 1fr);
    }
}

// Smartphones
@include mediaSm {
    main#home, #about, #work, #contact {
        .lg-heading {
            font-size: 4rem;
            margin-top: 6vh;
        }
    }

    ul.menu-nav, 
    div.menu-branding {
        float: none;
        width: 100%;
        min-height: 0;

        &.show {
            transform: translate3d(0, 0, 0),
        }
    }

    .menu-nav {
        height: 75vh;
        transform: translate3d(-100%, 0, 0);
        font-size: 24px;
    }

    .menu-branding {
        height: 25vh;
        transform: translate3d(100%, 0, 0);

        .portrait {
            background: url('../image/profile_sm.jpg');
            width: 100px;
            height: 100px;
        }
    }

    .projects {
        grid-template-columns: 1fr;
    }

    .boxes div {
        font-size: 1rem;
        padding: 1rem 2rem;
    }
}